<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${Users}"/>
</head>
<body >
<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>UserId</th>
                <th>LName</th>
                <th>FName</th>
                <th>Phone</th>
                <th>Password</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.UserId}"></td>
                <td th:text="${user.LName}"></td>
                <td th:text="${user.FName}"></td>
                <td th:text="${user.Phone}"></td>
                <td th:text="${user.Password}"></td>
                <td th:text="${user.Email}"></td>
                <td><a th:href="@{user-update/{id}(id=${user.UserId})}">Edit</a></td>
                <td><a th:href="@{user-delete/{id}(id=${user.UserId})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
        <br/>
        <p><a href="/user-create">Create User</a></p>
        <br/>
        <h2>Files</h2>
        <table>
            <thead>
            <tr>
                <th>File_Id</th>
                <th>Title</th>
                <th>FilePath</th>
                <th>FileSize</th>
                <th>users_id</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file : ${files}">
                <td th:text="${file.FileId}"></td>
                <td th:text="${file.Title}"></td>
                <td th:text="${file.FilePath}"></td>
                <td th:text="${file.FileSize}"></td>
                <td th:text="${file.user}"></td>
                <td><a th:href="@{file-update/{id}(id=${file.FileId})}">Edit</a></td>
                <td><a th:href="@{file-delete/{id}(id=${file.FileId})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <p><a href="/file-create">Create File</a></p>
</div>
</body>
</html>